* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgba(254, 230, 0, 255);
  color: rgba(45, 48, 107, 255);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.searchArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  border-radius: 8px;
  margin: 15px;
  height: 30px;
  text-align: center;
  width: 600px;
}
