* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    background-color: rgba(254,230,0,255);
    color: rgba(45,48,107,255);
    justify-content: center;
    padding: 20px 0px;
}

.searchBar{
    width: 200px;
    text-align: center;
    border-radius: 8px;
    margin: auto;
}