body {
  background-color: #D7F4FF;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.Category {
  background-color: #0078A8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  text-align: left;
  border-radius: 0px 24px 24px 0px;
}

.Category li{
  list-style: none;
  margin: 6px 0;
  color: white;
  padding-left: 25px;
}

.Category li:hover {
  transform: scale(1.1);
  transition: 0.1s ease-out;
  cursor: pointer;
}

.Index {
  display: flex;
  justify-content: space-between;
  /* background-color: grey; */
}

.Index p{
  color: #9e9e9e;
  font-family: serif;
  font-weight: 100px;
}

.Index img {
  height: 40px;
  background-color: #F0802B;
  border-radius: 20px;
  padding: 0 100px;
  justify-content: center;
}

.CartButton {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}